*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    max-width: 100%;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #06051f;
}
.circle1{
    top: 0;
    left: 20%;
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: linear-gradient(45deg, #a631e3, #cc655e);
}
.circle2{
    bottom: 0;
    right: 20%;
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: linear-gradient(45deg, #31aeca71, #cc655e);
}
.container{
    position: relative;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 6px;
    overflow: hidden;
    z-index: 10;
    backdrop-filter: blur(15px);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 5px 5px 30px rgba(0,0,0, 0.2);
}

.container .calculator{
    position: relative;
    display: grid;
}
.container .calculator .value{
    grid-column: span 4;
    height: 140px;
    width: 300px;
    text-align: right;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 30px;
    background: transparent;
    color: #fff; 
    
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    border-right: 1px solid rgba(255, 255, 255, 0.05);

}
.container .calculator span{
    display: grid;
    width: 75px;
    height: 75px;
    color: #Fff;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
    transition: 0.5s;

    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    border-right: 1px solid rgba(255, 255, 255, 0.05);
}
.container .calculator span:hover{
    background: rgba(255, 255, 255, 0.2);
}
.container .calculator span:active{
    background: #14ff47;
    color: #192f00;
    font-size: 24px;
    font-weight: 500;
}

.container .calculator .clear{
    grid-column: span 2;
    width: 150px;
    background: rgba(255, 255, 255, 0.05);
}
.container .calculator .plus{
    grid-row: span 2;
    height: 150px;
}
.equal{
    background: rgba(255, 255, 255, 0.05);
}